.exp-container {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.exp-title {
  font-size: 50px;
  font-weight: 800;
  color: var(--text);
}
.exp-title span {
  color: var(--accent);
}

/* Timeline */
.timeline {
  margin-top: 60px;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 4px;
  background: var(--accent);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
}

.timeline-item {
  width: 50%;
  padding: 25px;
  position: relative;
}

.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}

.timeline-content {
  background: var(--bg);
  border: 2px solid var(--accent);
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 232, 255, 0.35);
  transition: .3s;
}

.timeline-content h2 {
  font-size: 22px;
  color: var(--accent);
  margin-bottom: 4px;
}

.timeline-content h3 {
  font-size: 18px;
  color: var(--text);
}

.period {
  font-size: 15px;
  font-weight: 600;
  color: var(--accent);
}

.timeline-content p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text);
}

/* Dot */
.timeline-dot {
  width: 18px;
  height: 18px;
  background: var(--accent);
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: calc(50% - 9px);
}

/* Responsive */
@media (max-width: 768px) {
  .exp-title { font-size: 38px; }

  .timeline::before {
    left: 8px;
    transform: none;
  }

  .timeline-item {
    width: 100%;
    left: 0 !important;
    text-align: left !important;
    padding-left: 35px;
  }

  .timeline-dot {
    left: 0;
  }
}
